<div [ngStyle]="backgroundStyle">
  <app-media-search
    (query)="handleQuery($event)"
    (update)="handleUpdate($event)"
    [tracks]="filteredTracks"
  ></app-media-search>

  <app-media-details
    [title]="title"
  ></app-media-details>

  <app-media-player
    (random)="handleRandom($event)"
    (backward)="handleBackward()"
    (forward)="handleForward()"
    (pauseplay)="handlePausePlay()"
    (stop)="handleStop()"
    [paused]="paused"
  ></app-media-player>

  <app-media-progress
    [current]="position"
    [elapsed]="elapsed"
    [total]="duration"
  ></app-media-progress>

  <app-media-footer></app-media-footer>

</div>
